<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TapTap - Control your browser with the tap of a button</title>
    
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="/assets/scripts/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TapTap</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Marketplace</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">TapTap Marketplace
                    <small>Everything you could ever want, all just a button away</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://cordcuttersnews.com/wp-content/uploads/2014/09/netflix-logo.png" alt="">
                </a>
                <h3>
                    <a href="#" class="app" id="Netflix">Netflix</a>
                </h3>
                <p>"I'm still watching" just became that much easier. Never pick up a remote again.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.theinquirer.net/IMG/138/270138/spotify-logo-horizontal-black.jpg" alt="">
                </a>
                <h3>
                    <a href="#" class="app" id="Spotify">Spotify</a>
                </h3>
                <p>Jam out, or not -- pause, play, skip, and laugh with the tap of a button.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://www.youtube.com/yt/brand/media/image/YouTube-logo-full_color.png" alt="">
                </a>
                <h3>
                    <a href="#" class="app" id="Youtube">Youtube</a>
                </h3>
                <p>Hi I'm TapTap, welcome to my vlog.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.niemanlab.org/images/soundcloud_logo-550.png" alt="">
                </a>
                <h3>
                    <a href="#" class="app" id="SoundCloud">SoundCloud</a>
                </h3>
                <p>No biggie, we don't want to pay for Spotify either.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://paymentweek.com/wp-content/uploads/2015/10/pandora-logo.jpg" alt="">
                </a>
                <h3>
                    <a href="#" class="app" id="Pandora">Pandora</a>
                </h3>
                <p>A new favorite song with every tap.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://logok.org/wp-content/uploads/2015/02/Wikipedia-logo-wordmark-1024x768.png" alt="">
                </a>
                <h3>
                    <a href="#" class="app" id="Wikipedia">Wikipedia</a>
                </h3>
                <p>Tap your way through the world's largest collection of knowledge.</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kirby Kohlmorgen, Evan Walsh, Usmann Khan, Ben Alderfer 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
