<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TapTap - Control your browser with the tap of a button</title>

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/pjl5spl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="/assets/scripts/main.js"></script>
</head>

<body>
    <div id="main" class="container1">
        <div class="centerthing">
            <div class="logo">
                <img id="clear" src="assets/img/taptap.png" alt="">
            </div>
            <!-- <h1 class="title">TAP TAP</h1> -->
            <p class="description">
                Control your browser with the tap of a button.
            </p>
            <button class="button">GET STARTED</button>
        </div>
  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://cordcuttersnews.com/wp-content/uploads/2014/09/netflix-logo.png" alt="">
      </a>
      <h3>
        <a href="#" class="app" id="netflix">Netflix</a>
      </h3>
      <p>"I'm still watching" just became that much easier. Never pick up a remote again.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://www.theinquirer.net/IMG/138/270138/spotify-logo-horizontal-black.jpg" alt="">
      </a>
      <h3>
        <a href="#" class="app" id="spotify">Spotify</a>
      </h3>
      <p>Jam out, or not -- pause, play, skip, and laugh with the tap of a button.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="https://www.youtube.com/yt/brand/media/image/YouTube-logo-full_color.png" alt="">
      </a>
      <h3>
        <a href="#" class="app" id="youtube">Youtube</a>
      </h3>
      <p>Hi I'm TapTap, welcome to my vlog.</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://www.niemanlab.org/images/soundcloud_logo-550.png" alt="">
      </a>
      <h3>
        <a href="#" class="app" id="soundcloud">SoundCloud</a>
      </h3>
      <p>No biggie, we don't want to pay for Spotify either.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://paymentweek.com/wp-content/uploads/2015/10/pandora-logo.jpg" alt="">
      </a>
      <h3>
        <a href="#" class="app" id="pandora">Pandora</a>
      </h3>
      <p>A new favorite song with every tap.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://logok.org/wp-content/uploads/2015/02/Wikipedia-logo-wordmark-1024x768.png" alt="">
      </a>
      <h3>
        <a href="#" class="app" id="wikipedia">Wikipedia</a>
      </h3>
      <p>Tap your way through the world's largest collection of knowledge.</p>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Made with <span>&hearts;</span> Kirby Kohlmorgen, Evan Walsh, Usmann Khan, Ben Alderfer.</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
</body>