<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TapTap - Control your browser with the tap of a button</title>
    
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">TapTap Button 
                    <small>If you can't get a Flic, just click this to activate TapTap</small>
					<button type="button">Tap</button>
                </h1>
            </div>
        </div>
	</div>
</body>

</html>
